<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aryido.aryidodbtest.mapper.IStockMapper">
	<select id="findByTableName" resultType="com.aryido.aryidodbtest.entity.Stock0" >
		select * from ${tableName}
	</select>
</mapper>